<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p class="lead intro">
        Hi, I'm DK. This is a living timeline of events, both wonderful and terrible, that have profoundly influenced who I am.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="logo">
        <%= image_tag "dk-logo.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
  <% data.events.each do |event, info| %>
  <div class="row event-row">
    <div class="col-md-4 hidden-xs hidden-sm">
      <div class="event-image">
        <% image = info.image || lorem.image('400x400', text: "Coming Soon") %>
        <%= image_tag image, class: "img-rounded img-responsive" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="event-main">
        <div class="event-thumbnail">
          <% thumbnail = info.thumbnail || lorem.image('200x200', text: "Coming Soon") %>
          <%= image_tag thumbnail, class: "img-circle img-responsive" %>
        </div>
        <div class="event-info">
          <h4><%= info.short %></h4>
          <%= pluralize(info.age, "year") %> old
          <br>
          <%= info.location %>
        </div>
        <div class="event-expand hidden-md hidden-lg">
          <button type="button" class="btn btn-default btn-lg">Show Details</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
      <div class="event-description">
        <p class="lead"><%= lorem.sentences 4 %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
