<div class="main">
  <div class="intro">
    <h1 class="title">Story of My Life</h1>
    <small class="text-muted">because being here obviously means you want to know absolutely everything about me</small>
  </div>
  <% data.events.each do |event, info| %>
  <div class="item" id="<%= event %>">
    <div class="media">
      <% if info.image %>
        <%= image_tag info.image %>
      <% elsif info.video %>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="<%= info.video %>" allowfullscreen></iframe>
        </div>
      <% end %>
    </div>
    <div class="text">
      <div class="details">
        <div class="title">
          <%= info.title %>
        </div>
        <div class="subtitle">
          <% if info.age %>
            <%= pluralize(info.age, "year") %> old
            &middot;
          <% end %>
          <%= info.date %>
        </div>
      </div>
      <p>
        <%= info.description.gsub("\n", "</p><p>") %>
      </p>
    </div>
  </div>
  <% end %>
</div>
