<div class="main">
  <div class="intro">
    <h2 class="display-4 title">Story of my life</h2>
    <small class="text-muted">because being here obviously means you want to know absolutely everything about me</small>
  </div>
  <% data.events.each do |event, info| %>
  <div class="event">
    <% if info.image %>
      <div class="event-image">
        <%= image_tag info.image %>
      </div>
    <% elsif info.video %>
      <div class="event-video">
        <iframe width="420" height="315" src="<%= info.video %>" frameborder="0" allowfullscreen></iframe>
      </div>
    <% else %>
      <div class="no-image"></div>
    <% end %>
    <div class="event-description">
      <p class="event-time">
        <% if info.age %>
          <%= pluralize(info.age, "year") %> old
          &middot;
        <% end %>
        <%= info.date %>
      </p>
      <p>
        <%= info.description.gsub("\n", "</p><p>") %>
      </p>
    </div>
  </div>
  <% end %>
</div>
