---
title: Dan Kang &middot; Writing
description: hi, i'm dk. sometimes i make stuff. sometimes i put it on the internet.
---

<div class="content">
  <div class="intro">
    <h1 class="title">Writing</h1>
    <small class="text-muted">i write to share authentic snapshots of my heart and mind</small>
  </div>
  <div class="recommended-posts">
    <h5>Recommended Posts</h5>
    <% data.recommended.posts.each do |url| %>
      <% article = blog.articles.find {|a| a.url == "/#{url}/"} %>
      <div class="post">
        <div class="post-title">
          <%= link_to article.title, article %>
        </div>
        <% if article.data.description %>
        <div class="post-description">
          <%= article.data.description %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="archive">
    <h5>Archive</h5>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <div class="post-section">
      <h5><%= year %></h5>
      <% articles.each do |article| %>
      <div class="post">
        <div class="post-main">
          <div class="post-date">
            <%= article.date.strftime('%b %d') %>
          </div>
          <div class="post-title">
            <%= link_to article.title, article %>
          </div>
        </div>
        <% if article.data.description %>
        <div class="post-description">
          <%= article.data.description %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
